[Unit]
Description=DCT Demo
Before=avahi-daemon.service

[Service]
ExecStart=/home/root/start.sh
Type=simple
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
